/* GENEL */
body{
	margin:0;
	padding:0;

	background-color: #eee;
	font-family: verdana;
}


/* lib.js içerisindeki kodları destekleyen style(css) kodları */
.slayt-yoneticisi{

}
.slayt-yoneticisi .slayt{
	display: none;
	opacity: 0;
	transition: opacity 2s;
}
/* *** */

main .yukleniyor{
	position: absolute;
	top: 35%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);

	text-align:center;
	font-family: arial;
	font-size: 24pt;
	color: #888;
	font-weight: bold;
}