/* GENEL */
body{
	margin:0;
	padding:0;

	background-color: #000;
	font-family: verdana;

	opacity: 0;
	transition: opacity 0.3s;
}


/* lib.js içerisindeki kodları destekleyen style(css) kodları */
.slayt-yoneticisi{

}
.slayt-yoneticisi .slayt{
	display: none;
	opacity: 0;
	transition: opacity 2s;
}
/* *** */

main .yukleniyor{
	position: absolute;
	top: 35%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);

	text-align:center;
	font-family: arial;
	font-size: 24pt;
	color: #888;
	font-weight: bold;
}


/* İskelet yardımcı classları */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.flex-1{
	width: 10%;
}
.flex-2{
	width: 20%;
}
.flex-3{
	width: 30%;
}
.flex-4{
	width: 40%;
}
.flex-5{
	width: 50%;
}
.flex-6{
	width: 60%;
}
.flex-7{
	width: 70%;
}
.flex-8{
	width: 80%;
}
.flex-9{
	width: 90%;
}

/* Süsleme yardımcı classları */
.golge-1{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}


.pencere{
	display: none;
	position: fixed;

	top: 10%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);

	width: 600px;
	height: 440px;

	background-color: #eee;


	-webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.3);

	padding: 1em;
	box-sizing: border-box;	
	overflow: hidden;
}
.pencere .pencere-icerik{
}

.panel{
	display: none;
	position: fixed;

	right: 0;
	bottom: 0;
	left: 0;

	height: 0px;

	background-color: rgba(0,0,0,0.4);


	-webkit-box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.3);
	box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.3);

	padding: 1em;
	box-sizing: border-box;	
	overflow-x: scroll;
	overflow-y: hidden;

	transition: height 1s;
}
.panel .panel-icerik{
	width: 20000px;
}
.panel .yukleniyor{
	color: white;

}