#canavarlarim-sahne > .container{
	text-align: center;
	background-image: url(img/bg.jpg);
	background-size: cover;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


#canavarlarim-sahne .ust-panel{
	padding-top: 4em;
}

#canavarlarim-sahne .ust-panel .canavarlarim-baslik{
	color: white;
	font-size: 50pt;
	font-family: arial;
	text-shadow: 3px 3px #000;
}



#canavarlarim-sahne .orta-panel{
	margin: 0;
	position: absolute;
	top: 25%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#canavarlarim-form input{
	transition: background-color 1s;
	background-color: rgba(0,0,0,0.5);
	color: #ccc;
	font-size: 20pt;
	padding: 0.4em;
	margin: 0.2em;
	border-radius: 3px;
	border:1px solid #666;
}
#canavarlarim-form input:focus{
	color: #fff;
	background-color: rgba(50,50,50,0.5);
}




#canavarlarim-sahne .alt-panel{
	/* background-color: rgba(0,0,0,0.5); */
	color: white;
	position: fixed;
	right: 0;
	bottom: 0;
	left:0;
	padding: 2em 2em 4em 2em;
}

#canavarlarim-sahne .canavarlarim-butonlar{
	text-align: right;
	padding-right: 3em;
}

#canavarlarim-sahne .canavarlarim-btn{
	display: inline-block;
	vertical-align: top;
	background-color: #f1f2f6;
	color: #ccc;
	width: 100px;
	height: 100px;
	border-radius: 40px;	
	margin: 0em;
	border:1px solid #666;
}
#canavarlarim-sahne .canavarlarim-btn:hover{
	color: #fff;
	background-color: #fff;
}

#canavarlarim-sahne .btn-anasayfa:hover svg{
	fill:#B33771;
}

#canavarlarim-sahne .btn-acik-dunya{
	background-image: url(img/acik-dunya-btn.jpg);
	background-size: cover;
}

#canavarlarim-sahne .btn-acik-dunya:hover{
	opacity: 0.8;
}


#canavarlarim-sahne .btn-cikis{
	color: red;
	font-size: 24px;
	width:50px;
	height:50px;
	border-radius: 20px;
	vertical-align: bottom;
}