#anasayfa-sahne > .container{
	text-align: center;
	background-image: url(img/bg.jpg);
	background-size: cover;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#anasayfa-sahne .ust-panel{
	padding-top: 4em;
}

#anasayfa-sahne .ust-panel .anasayfa-baslik{
	color: white;
	font-size: 50pt;
	font-family: arial;
	text-shadow: 3px 3px #000;
}

#anasayfa-sahne .orta-panel{
	margin: 0;
	position: absolute;
	top: 20%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#anasayfa-sahne .anasayfa-intro-btn{
	background:transparent;
	border:none;
	opacity: 0.5;
	margin: 3em;
}
#anasayfa-sahne .anasayfa-intro-btn:hover svg polygon{
	fill: white;
	stroke: black;
	transition: fill 0.5s,stroke 0.5s;
}




#anasayfa-sahne .alt-panel{
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: fixed;
	right: 0;
	bottom: 0;
	left:0;
	padding: 2em 2em 4em 2em;
}

#anasayfa-sahne .anasayfa-btn{
	background-color: rgba(0,0,0,0.5);
	color: #ccc;
	font-size: 20pt;
	padding: 0.4em;
	margin: 0.2em;
	border-radius: 3px;
	border:1px solid #666;
}
#anasayfa-sahne .anasayfa-btn:hover{
	color: #fff;
	background-color: rgba(50,50,50,0.5);
}
